// import libraries
@import '~bootstrap/scss/bootstrap.scss';

// import base
@import './base/variables';
@import './base/buttons';

// import components
@import './componets/body.scss';
@import './componets/header.scss';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
